*{
  margin: 0px auto;
  padding: 0;
  width:1200px;

}
.header_top{
  margin: 10px auto;
  border: 1px solid;
  text-align: right;
}
.header_nav{
 
  margin: 10px auto;
  border: 1px solid;
  padding: 5px;
  height:100px;
}


.main{
  background-color: pink ;
  margin: auto;
  border-bottom: 1px solid;
  padding: 20px 0 20px 0; /* top right bottom left*/
  width: 800px;
  height: 200px;
  
}
#box1{
  background-color: yellow;
  width: 600px;
  height: 120px;
  float: left;
 

}
.footer{
  background-color: darkgrey;
  margin: 30px auto;
  border:  3px dotted;
  padding: 20px;
  height: 50px;
  
}

