@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&family=Kanit&family=Nanum+Gothic&family=Noto+Serif+KR:wght@300&display=swap');

*{
  font-family: 'Nanum Gothic', sans-serif;
  margin: 5px;

  }
  #New{
    
    text-align: center;
    line-height:200px;
    height: 1200px;
    
   
  }

  
  